html {
  scroll-behavior: smooth;
}
.row { display: flex; flex-flow: row nowrap; }
.page-header {
  position: sticky;
  width: 100%;
  top: 0px;
}
.toc {
  position: sticky;
  float: left;
  top: 20px;
  width: 10%;
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding-left: 1%;
  padding-top: 1%;
}
.toc-item {
  font-style: italic;
  color: gray;
}
.toc-item:hover {
  background-color: lightgray;
  -webkit-transition: all .5s;
  -moz-transition:    all .5s;
  -ms-transition:     all .5s;
  -o-transition:      all .5s;
  transition:         all .5s;
  color: black;
}
.window {
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.step {
  display: flex;
  flex-flow: column;
  padding-left: 10%;
  padding-right: 10%;
  min-height: 30vh;
  margin-bottom: 2%;
}
.step-header {
  display: flex;
  flex-flow: column;
  background-color: beige;
  text-align: left;
  font-size: larger;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 10px;
}
.step-text {
  display: flex;
  font-style: italic;
  color: darkgray;
  font-size: small;
}
.step-content {
  padding-bottom: 2%;
  padding-left: 10px;
  background-color: bisque;
}
.char-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.char-div {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.char-val {font-size: 40px;}
.derived-char {
  color: gray;
  font-style: italic;
  font-size: smaller;
}